@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.cab {
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 10px;
}
.cab img {
    width: 50px;
    height: 50px;
}
.logo-nu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    gap: 5px;
    padding: 5px;
}
.logo-nu button {
    background-color: #820ad1;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
}
.esquema-icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 20px;

}

section.banner {
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.vpJKq-XTAqrC_oECe1arkgHaF7?pid=Api&P=0&h=180);
    background-size: cover;
    background-position: center;
    height: 110vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.titulo-banner {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: left;
    padding: 25px;
}
section div > button {
    background-color: #820ad1;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    text-align: left;
}
.caixinha-pergunta {
    margin-top: 50px;
    font-size: 1rem;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
}
.caixinha-pergunta textarea {
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 95%;
    font-size: 1rem;

    text-align: left;
}